.custom_breadcrumb{
    :global(.breadcrumb-item){
        font-size: size(14);
        line-height: 1em;
       
        &:first-child {
            padding-left: 0;
        }
        a{
            color: #A09EA6;
            text-decoration: none;
            line-height: 1em;
            display: flex;
            align-items: baseline;
            svg{
                margin-right: 6px;
               
                path{
                    fill: currentColor;
                }
            }
        }
        &:not(:nth-child(1)){
            &:before{
                display: none;
            }
        }
        
    }
    // :global {
    //     .breadcrumb-item {
    //         &:not(.active) {
    //             :hover {
    //                 color: $theme-btn-primary;
    //             }
    //         }
    //     }
    // }
    
    // :global(.breadcrumb-item.active){
    //     color: $theme-btn-primary;
    //     svg{
    //         path{
    //             fill: currentColor;
    //         }
    //     }
    // }
}