

.input_wrap {
    background-color: #f2f5f7;
    padding: 14px 0;
    position: sticky;
    z-index: 11;
    top: 0px;
   
    input {
        border: none;
        background-color: transparent;
        width: 100%;
        font-weight: normal;
        font-size: 20px;
        padding-right: 34px;
        color: #000;
        

        &:focus-visible {
            outline: none;
        }
    }
    .wrap {
        position: relative;

        button {
            position: absolute;
            right: 0;
            transform: translateY(-50%);
            top: 50%;
            background-color: transparent;
            border: none;
            transition: .3s all ease-in-out;
        }
    }
}